.banner-contact
{
	background-size: cover;
    background-position: center;
    min-height: 175px;
    position: relative;
}
.contact-logo
{
	max-width: 100%;
    margin-top: 49px;
}
.contact-container-left
{
	padding-left: 0px;
    padding-right: 30px;
    margin-top: 65px;
    margin-bottom: 100px;

    @media screen and (max-width: 768px)
    {
        padding-right: 0;
    }
}
.contact-container-right
{
	padding-left: 30px;
    padding-right: 0px;
    margin-top: 65px;
    margin-bottom: 100px;

    @media screen and (max-width: 768px)
    {
        padding-left: 0;
    }
}
.contact-title-container
{
    background-color: #ffffff;
    padding: 7px 20px;

    @media screen and (max-width: 425px)
    {
        text-align: center;
    }
}
.contact-title
{
    color: #404040;
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    font-family:"Quicksand",sans-serif;
}
.contact-form-container
{
    width: auto;
    padding: 10px 20px;
    border: 1px solid #ffffff;
}
.contact-labels
{
    font-size: 12px;
    font-weight: 100;
    font-family: "Poppins",sans-serif;
    color:#312E2E;
 
}
.contact-textfield
{
    width: 100%;
    border:1px solid #eaeaea;
    padding: 8px;
}
.message-textarea
{
    max-width: 498px;
    min-height: 237px;

    @media screen and (max-width: 768px)
    {
        max-width: 100%;
    }
}
.contact-textfield-left-holder
{
    padding-left: 0px;

    @media screen and (max-width: 768px)
    {
        padding-right: 0;
    }
}
.contact-textfield-right-holder
{
    padding-right: 0px;

    @media screen and (max-width: 768px)
    {
        padding-left: 0;
    }
}
.contact-textfield-holder
{
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.contact-btn-holder
{
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 38px;
}
.contact-send-btn
{
    border: 0px;
    background-color: #fed600;
    font-size: 15px;
    padding: 13px 20px;
    border-radius:4px;

    @media screen and (max-width: 425px)
    {
        width: 100%;
    }
}
.map-container
{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 20px;
    padding-bottom: 25px;
    border: 1px solid #ffffff;
}
.google-map
{
    width: 100%;
    height: auto;
}
.contact-details
{
    border: 1px solid #ffffff;
    padding: 25px 20px;
}
.details-icon-holder
{
    height: 100%;
}
.details-icon
{
    color: #fed600;
    vertical-align: middle;
}
.details-info-container
{
    width: 203px;
    height: 100%;
    margin-left: 10px;

    @media screen and (max-width: 768px)
    {
        width: 100%;
    }

    @media screen and (max-width: 425px)
    {
        width: 85%;
    }
}
.details-info
{
    font-size: 15px;
    font-weight: 100;
    font-family: "Poppins",sans-serif;
    color:#312E2E;
}
.details-info-holder
{
    display: -webkit-box;
    margin-bottom: 20px;
    margin-top: 5px;
}
#map
{
    height: 241px;
    width: 100%;
}
#mymap
{
    height: 400px;
    width: 100%;
    border:2px solid black;
    margin:20px 20px 20px 20px;
}
.merchant_info
{
    margin:20px 5px 20px 5px;
}
.merchant_pic
{
    margin-bottom: 40px;
    height: 800px;
    border-bottom: 1px solid #999;
}
.merchant_image
{
    width: 50%;
    height: 200px;
}
.merchant_logo
{
    width: 50px;
    height: 50px;
}