.featuredlist-holder
{
  margin-top: 10px;
  margin-bottom: 10px;
}
.featuredlist-title-holder
{
  background-color: #273a54;
  padding: 10px 25px;
}
.featuredlist-title
{
  color: #ffffff;
  font-family:"Quicksand",sans-serif;
  font-size: 15px;
  margin: 0px;
}
.featuredlist-container
{
  border: 1px solid #999;
  padding: 25px 30px;
}
.featured-details-container
{
  display: flex;
  padding: 25px 0px;
  border-bottom: 1px solid #999;
  margin-bottom: 20px;
}
.detail-picture-container
{
  display: inline-block;
}
.detail-name-container
{
  display: -webkit-inline-box;
}
.detail-name-title
{
  text-align: justify;
  margin-left: 10px;
}

.featured-carousel
{
  padding: 0;
  margin-bottom: 0;
}

// .inner-vertical-carousel.carousel-inner 
// {
//   background-color: #C1E0FF;
// }
// .carousel-indicators
// {
//   font-size: 2em;
//   bottom: -1%;
//   text-align: left;
//   text-shadow: none;
// }        
/***
 * Bootstrap relies on CSS transitions for animation, which makes it
 * easy to override.  Just add the vertical class to your carousel:
 * <div class='carousel vertical'>...</div>
 ***/

.inner-vertical-carousel.carousel-inner.vertical {
  height: 100%; /*Note: set specific height here if not, there will be some issues with IE browser*/
}
.inner-vertical-carousel.carousel-inner.vertical > .item {
  -webkit-transition: .6s ease-in-out top;
  -o-transition: .6s ease-in-out top;
  transition: .6s ease-in-out top;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
  .inner-vertical-carousel.carousel-inner.vertical > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .inner-vertical-carousel.carousel-inner.vertical > .item.next,
  .inner-vertical-carousel.carousel-inner.vertical > .item.active.right {
    -webkit-transform: translate3d(0, 33.33%, 0);
    transform: translate3d(0, 33.33%, 0);
    top: 0;
  }
  .inner-vertical-carousel.carousel-inner.vertical > .item.prev,
  .inner-vertical-carousel.carousel-inner.vertical > .item.active.left {
    -webkit-transform: translate3d(0, -33.33%, 0);
    transform: translate3d(0, -33.33%, 0);
    top: 0;
  }
  .inner-vertical-carousel.carousel-inner.vertical > .item.next.left,
  .inner-vertical-carousel.carousel-inner.vertical > .item.prev.right,
  .inner-vertical-carousel.carousel-inner.vertical > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    top: 0;
  }
}

.inner-vertical-carousel.carousel-inner.vertical > .active {
  top: 0;
}
.inner-vertical-carousel.carousel-inner.vertical > .next,
.inner-vertical-carousel.carousel-inner.vertical > .prev {
  top: 0;
  height: 100%;
  width: auto;
}
.inner-vertical-carousel.carousel-inner.vertical > .next {
  left: 0;
  top: 33.33%;
  right:0;
}
.inner-vertical-carousel.carousel-inner.vertical > .prev {
  left: 0;
  top: -33.33%;
  right:0;
}
.inner-vertical-carousel.carousel-inner.vertical > .next.left,
.inner-vertical-carousel.carousel-inner.vertical > .prev.right {
  top: 0;
}
.inner-vertical-carousel.carousel-inner.vertical > .active.left {
  left: 0;
  top: -33.33%;
  right:0;
}
.inner-vertical-carousel.carousel-inner.vertical > .active.right {
  left: 0;
  top: 33.33%;
  right:0;
}

#carousel-pager .features-control.carousel-control.left 
{
  bottom: initial;
  width: 100%;
  background-image: none;
  left: 0px;
  height: 0px;
  top: -4%;
  font-size: 25px;
  color: #999;
}
#carousel-pager .features-control.carousel-control.right 
{
  top: initial;
  width: 100%;
  background-image: none;
  font-size: 25px;
  right: 2px;
  top: 98%;
  height: 6%;
  color: #999;
}


// PAGINATION
.tabularsort-pagination-section
{
  text-align: center;
    margin-top: 10px;
    margin-bottom: 150px;
}
.pagination a 
{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
.pagination a.active 
{
    background-color: #fed600;
    color: #333;
}
.pagination a:hover:not(.active) 
{
  background-color: #ddd;
}
.pagination-next-btn
{
  color: #333;
    background-color: #fed600;
}