.headers-nav
{
	// padding: 3px 0px 3px 0px;
	background-color:#3d516d;
	

	.menu-bar
	{
		// padding: 7px 0px 6px 0px;
		.nav-tab
		{
			display: inline-block;
			// padding: 6px 26px 6px 26px;
	    	border-radius: 6%;
	    	margin: 5px;
            padding: 1px 5px 1px 5px;
			.nav
			{
				color:#f5f5f6;
				font-family: "Poppins", sans-serif;
	    		font-size: 10px;
	    		
	    		li.active-link
				{
					background-color: #fdc600;
					 

				}
				li.active-link:hover
				{
					background-color: #fdc600; 
				}
			}
			.nav:hover
			{
				text-decoration: none;
			}
		}
		.last
		{
			margin-right: 35px;
		}
		li.active-link
		{
			background-color: #fdc600; 
		}
		.nav-tab:hover
		{
			background-color: #fed700	
		}
		.btn-login
		{
			display: inline-block;
	    	padding: 2px 15px 2px 15px;
	    	border-radius: 15px;
			a
			{
				color:#f5f5f6;
				font-family: "Poppins", sans-serif;
	    		font-size: 10px;
			}
			a:hover
			{
				text-decoration: none;
			}
		}
		.btn-login:hover
		{
			background-color: #f1f1f1;
		}
		.btn-register
		{
			display: inline-block;
		    background-color: #fdc600;
		    padding: 2px 15px 2px 15px;
		    border-radius: 15px;
		    margin-right: 20px;
		    margin-top: 5px;
            padding: 1px 5px 1px 5px;
			a
			{
				color:#f5f5f6;
				font-family: "Poppins", sans-serif;
	    		font-size: 10px;
			}
			a:hover
			{
				text-decoration: none;
			}
		}
		
		.language-selection
		{
			display: inline-block;
			.language-select
			{
			    
			    background:#3D516D;
			    color:#fff;
			    text-shadow:0 1px 0 #3D516D;
			    font-weight: 300;
			    color:#f5f5f6;
				font-family: "Poppins", sans-serif;
	    		font-size: 10px;
			}
			
			.active
			{
				text-decoration: underline;
			}
		}
		
	}
}

.login-form-holders
{
	margin-top: 120px;
    margin-bottom: 120px;
	.login-forms
	{
		.login-forms-background
		{
			background-size: cover;
		    background-position: center;
		    position: relative;
		    max-width: 304.16px;
		    min-height: 10px;
		    border-top-left-radius: 15px;
		    border-bottom-left-radius: 15px;
		    padding-bottom:25px;
		    .welcome-container
		    {
		    	background-color: rgba(133,133,133,0.64);
			    padding-top: 10px;
			    padding-left: 15px;
			    padding-right: 15px;
			    padding-bottom: 15px;
			    margin-top: 85px;
			    margin-bottom: 30px;
			    .text-holder
			    {
			    	margin-top: 10px;
    				margin-bottom: 10px;
    				.text-welcome
    				{
					    color: #fff;
					    font-size: 40px;
					    margin: 20px;
					    text-align: center;

    				}
			    }
				
		    }
		    .learn-more-btn
		    {
		    	margin-top: 130px;
			    margin-bottom: 15px;
			    text-align: right;
			    .more-btn
			    {
			    	border: 2px solid #fec600;
				    background-color: rgba(255,255,255,0);
				    color: #fec600;
				    font-weight: 700;
				    padding: 5px;
			    }
		    }
		}
		.login-rightpart 
		{
		    padding: 0px;
		    background-color: #fff;
		    border-top-right-radius: 15px;
		    border-bottom-right-radius: 15px;
		    padding-bottom: 34px;
		    .form-login
		    {
		    	.login-last-part
		    	{
		    		
				    margin-top: 55px;
				    // margin-bottom: 15px;
					
		    	}

		    }
		}
	}

}

//footer
.footer-uppers
{
	background-color: #142338;
	.no-padding,.footer-body
	{
		padding: 0px;
		margin-left: -15px;
    	margin-right: -15px;
    	margin-top: 25px;
    	margin-bottom: 10px;
		.footer-title
		{
			margin-bottom: 5px;
		    font-family: "Quicksand",sans-serif;
		    font-size: 15px;
		    color: #c8c8c8;
		}
		.footer-content
		{
		    margin-bottom: 0px;
		    font-family: "Poppins",sans-serif;
		    font-size: 12px;
		    font-weight: 300;
		    color: #858585;
		}
		.newsletter-content
		{
			margin-bottom: 7px;
		}
		.aboutus-content
		{
			margin-top: 9px;
			width: 93%;
		}
		.input-emailadd
		{
			font-family: "Poppins",sans-serif;
		    font-size: 12px;
		    font-weight: 300;
		    border: 0px;
		    width: 70%;
    		padding: 5px 15px 5px 15px;
		}
		.contact-content
		{
		    margin-top: 5px;
    		margin-bottom: 15px;
			.img-holder
			{
				display: inline-block;
				width: 6%;
				vertical-align: middle;
				img
				{
				    display: block;
    				margin: 0 auto;
				}
			}
			.footer-content
			{
				display: inline-block;
				width: 45%;
    			vertical-align: middle;
    			margin-left: 10px;
			}
		}
	}
}
.footer-bottoms
{
	background-color: #212121;
	.footer-text-bottom
	{
		margin-bottom: 0px;
	    font-family: "Poppins",sans-serif;
	    font-size: 12px;
	    font-weight: 300;
	    color: #7e7e7e;
	    text-align: center;
	    padding: 5px 0px 5px 0px;
	}
}