.banner-payment 
{
    background-size: cover;
    background-position: center;
    min-height: 175px;
    position: relative;
}
.payment-bg 
{
    max-width: 100%;
    margin-top: 55px;
}
.payment-container
{
	padding: 0px;
	margin-top: 70px;
}
.payment-title-container
{
    background-color: #fff;
	padding: 10px 20px;
}
.payment-title
{
	margin: 0px;
    color: #727272;
    font-size: 20px;
    font-weight: bold;
    font-family:"Quicksand",sans-serif;
}
.payment-form-container
{
	padding: 10px 20px;
	border: 1px solid #eaeaea;
}
.payment-form-upperpart
{
	padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.payment-form-bottompart
{
	padding: 0px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.payment-form-lastpart 
{
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.payment-subtotal-container
{
	padding-right: 0px;
    padding-left: 45px;
}
.payment-label
{
	font-size: 15px;
    font-weight: 100;
    color: #858585;
}
.payment-invoice-label
{
	color: #858585;
	font-size: 15px;
    font-weight: 100;
}
.payment-invoice-content-label
{
	color: #858585;
	font-size: 15px;
    font-weight: 100;
    margin-bottom: 0px;
}
.payment-cost-label
{
	color: #858585;
	font-size: 15px;
    font-weight: 100;
    margin-bottom: 0px;
    text-align: center;
}
.payment-textfield
{
	width: 100%;
}
.payment-dropdown
{
	width: 100%;
	font-size: 16px;
}
.payment-upload-icon-container
{
	text-align: center;
    padding-left: 11px;
    padding-right: 0px;
}
.payment-upload-holder
{
	background-color: #fed600;
    vertical-align: middle;
    padding: 2px;
    // margin-top: 26px;
    // width: 35px;
}
.payment-upload-icon
{
	color: #fff;
    font-size: 20px;
}
.payment-left-area
{
	padding-left: 0px;
    padding-right: 15px;
}
.payment-right-area
{
	padding-left: 15px;
    padding-right: 0px;
}
.payment-email-right-area
{
	text-align: right;
    padding-left: 15px;
    padding-right: 15px;
}
.payment-form-seperator
{
	padding: 0px;
    border-bottom: 1px solid #eaeaea;
}
.payment-btn-container
{
	text-align: center;
    margin-top: 45px;
    margin-bottom: 50px;
}
.payment-submit-btn
{
	background-color: #FEC600;
    border: 0px;
    color: #333;
    font-size: 15px;
    padding: 15px 48px;
    font-weight: 700;
}

/* NEW */
.payment-wrapper
{
    max-width: 625px;
    margin: auto;
    padding-top: 35px;

    .bottom-container  
    {
        padding-top: 20px;
    }

    .payment-title
    {
        padding-bottom: 10px;
    }

    .content 
    {
        border: 1px solid #ededed;
        padding: 15px;
        .payment-upload-holder
        {
            text-align: center;
            padding: 0 !important;
            width: 100% !important;
        }
    }

    .mid 
    {
        border: 1px solid #ededed;
        padding: 15px 0px;
        margin-top: -1px;
    }
    .bottom 
    {
        border: 1px solid #ededed;
        padding: 15px 0px;
        margin-top: -1px;
    }
}

.mob-align
{
    @media screen and (max-width: 768px)
    {
        text-align: center;
    }
}

.bold 
{
    font-weight: bold;
}