.banner-registration
{
	background-size: cover;
    background-position: center;
    min-height: 175px;
    position: relative;
}
.registration-bg
{
	max-width: 60%;
    margin-top: 37px
}
.form-leftpart
{
    padding-left: 0px;
    padding-right: 15px;
    margin-top: 65px;
    margin-bottom: 55px;
}
.form-rightpart
{
    padding-left: 15px;
    padding-right: 0px;
    margin-top: 65px;
    margin-bottom: 55px;
}
.form-singleupper-container
{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.form-singlebottom-container
{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}
.form-upper-container
{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 35px;
    border: 1px solid #999;
}
.form-bottom-container
{
    border: 1px solid #999;
    padding: 25px 20px 15px 20px;
}
.registration-title-container
{
    padding: 10px 20px;
    background-color: #333;
}
.registration-form-title
{
    color: #fed600;
    font-size: 20px;
    margin: 0px;
}
.registration-form-container
{
    padding: 0px;
    margin-bottom: 15px;
}
.registration-textarea-container
{
    padding: 0px;
    margin-bottom: 74px;
    height: auto;
    margin-top: 20px;
    @media screen and (max-width: 992px)
    {
        margin-top: 17px;
    }

}
.form-firstpart
{
    padding-left: 0px;
    padding-right: 15px;
}
.form-secondpart
{
    padding-right: 0px;
    padding-left: 0px;
}
.form-thirdpart
{
    padding-right: 0px;
    padding-left: 15px;
}
.dualfield-firstpart
{
    padding-left: 0px;
    padding-right: 7.5px;
}
.dualfield-secondpart
{
    padding-left: 7.5px;
    padding-right: 0px;
}
.businessadd-textarea
{
    width: 100%;
}
.registration-form-label
{
    font-weight: 100;
    font-size: 13px;
}
.registration-terms-textarea
{
    width: 100%;
    text-align: justify;
    border: 0px;
    padding: 0px 25px 0px 0px;
}
.registration-continue-btn
{
    color: #333;
    background-color: #fed600;
    border: 0px;
    padding: 15px 30px;
}