.banner-sendemail
{
	background-size: cover;
    background-position: center;
    min-height: 175px;
    position: relative;
	.sendemail-logo-container
	{
		display: -webkit-inline-box;
		.sendemail-logo
		{
		    width: 83px;
    		height: 84px;
    		margin-top: 55px;
		}
		.sendemail-title
		{
			color: #fff;
			font-size: 30px;
		    margin-bottom: 0px;
		    margin-top: 75px;
		    margin-left: 15px;
		}
	}
}

// BODY
.sendemail-container
{
	padding-left: 0px;
    margin-top: 65px;
    margin-bottom: 100px;
    width: 50%;
    display: inline-block;
    margin-left: 25%;
    margin-right: 25%;
	.sendemail-title-container
	{
	    background-color: #333;
    	padding: 7px 20px;
		.sendemail-title
		{
		    color: #fed600;
   			 margin: 0px;
    		font-size: 20px;
		}
	}
	.sendemail-form-container
	{
	    width: auto;
    	padding: 10px 40px;
    	border: 1px solid #999;
		.sendemail-textfield-holder
		{
			padding: 0px;
    		margin-top: 15px;
    		margin-bottom: 5px;
			.sendemail-labels
			{
			    font-size: 15px;
    			font-weight: 100;
    			color: #999;
			}
			.sendemail-textfield
			{
				width: 100%;
			}
			.message-textarea
			{
				max-width: 488px;
    			min-height: 237px;
			}
		}
		.sendemail-btn-holder
		{
		    padding: 0px;
    		margin-top: 15px;
    		margin-bottom: 38px;
			.sendemail-send-btn
			{
			    border: 0px;
			    background-color: #fed600;
			    font-size: 15px;
			    padding: 13px 20px;
			    font-weight: 700;
			}
		}
	}
}