/* Write your custom CSS here */
#croatia-logo
{
	width: 200px;
	height: 80px; 
}
.tab-content
{
	background-color: #F1F4F9 !important;
}
.result-count
{
	margin-top: 15px;
}
.business-list
{
	margin-top: 15px;
}
#no-result-notice 
{
	margin-top: 100px;
	color: red;
}
table > thead > tr > th, table > tbody > tr > td
{
	text-align: center;

}
.pagination-container
{
	margin-top: -20px;
}
.business-result
{
	display: none;
}
a
{
	text-decoration: none !important;
}

