/* Write your custom CSS here */
#croatia-logo
{
	width: 200px;
	height: 80px; 
}
.tab-content
{
	background-color: #F1F4F9 !important;
}
.business-list
{
	margin-top: 10px;
}
#no-result-notice 
{
	margin-top: 100px;
	color: red;
}