/* Write your custom CSS here */
.fa-money, .fa-undo
{
	font-size: 24px !important;
}
#croatia-logo
{
	width: 200px;
	height: 80px; 
}
.badge-count
{
   background-color: #FF0000 !important;
   color: #FFFFFF !important;
}
.business-list
{
	margin-top: 20px;
	border: 1px solid #34425A;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
}
#business-table
{
	margin-top: 10px;
}
#business-table thead > tr > th, #business-table tbody > tr > td
{
	text-align: center;
}
.pagination-container
{
	margin-top: -15px;
}