body{
	font-family: 'Open Sans', sans-serif !important;
	.registration-content{
		margin-top: 25px;
		.header{
			p{
				font-size: 25px;
			}
		}
		.line-after-header{
			margin-top: -10px;
			hr{
				border-color: #000000;
			}
		}
		.accept-terms{
			margin-top: 30px;
		}
		.line-after-content{
			margin-top: -10px;
			hr{
				border-color: #000000;
			}
		}
		.copyright{
			padding-bottom: 25px;
		}
	}
	.login-form{
		width: 700px;
		margin: 0 auto;
		border: 1px solid #000000;
		padding-left: 150px;
		padding-right: 150px;
		#label-email, #label-password{
			font-size: 20px;
			font-weight: normal;
		}
		a{
			font-size: 20px;
		}
	}
	.search-form{
		.search-button{
			margin-top: 25px;
		}
		.search-result-container
		{
			width: 555px;
			background-color: #C0C0C0;
			padding: 10px 10px;
		}
	}
}